$heading-font: 'Mouse Memoirs', sans-serif;
$secondary-font: 'Archivo Narrow', sans-serif;

/* general stuff */
body {
  padding: 0;
  margin: 0;
  background: #aec458;
}
 
* {
  vertical-align: top;
}
 
/* typography */
 
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
 
li {
	list-style-type: none;
}
 
/* utility classes */
 
.container {
  margin: 0 auto;
  width: 940px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

header .header-container {
	margin: 0 auto;
	width: 940px;

	img {
		width: 50px;
	}
}

header {
	margin: 10px 0;

	span {
		vertical-align: middle;
		font-family: $heading-font;
		font-size: 40px;
		color: whiteSmoke;
	}

	.nav {
		float: right;

		li{
			display: inline;
			margin-right: 30px;
			font-family: $secondary-font;
			color: #6D7701;
		}
	}
}

#map { 
	width: 350px;
	height: 300px;
	position: absolute;
	top: 0;
	right: 125px;
	margin-top: 20px;
}

/*full-view styles*/
.full-view {
	display: inline-block;
	margin-top: 20px;
	width: 760px;

	ul {
		margin: 0;
		padding: 0;

		li {
			font-family: $secondary-font;
			color: #353535;
		}
	}
}

.thumbnail {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	width: 80px;

	img {
		width: 75px;
		height: 50px;
	}
}

/*individual view styles*/
.main-image {
	padding-top: 20px;
	margin-left: 50px;

	img {
		width: 300px;
		border: 1px solid black;
	}
}

.single-view {
	padding-top: 15px;
	margin-left: 50px;
	width: 325px;

	h1 {
		font-family: $heading-font;
	}

	h2 {
		font-family: $heading-font;
		border-bottom: 1px solid black;
		padding-bottom: 5px;
		margin-bottom: 10px;
	}

	p {
		margin: 0;
		font-family: $secondary-font;
	}
}

.icon {
	display: inline-block;

	img {
		width: 28px;
	}
}

.text {
	display: inline-block;
}

