/* general stuff */
body {
  padding: 0;
  margin: 0;
}
 
* {
  vertical-align: top;
}
 
/* typography */
 
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
 
 
/* utility classes */
 
.container {
  margin: 0 auto;
  width: 940px;
}