<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>goLocal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
        <link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>


        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
        <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
       
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <header>
            <div class="header-container">
                <img src="images/veggies.png">
                <a href="#"><span>goLocal</span></a>

                <div class="nav">
                    <ul>
                        <a href="#"><li>Home</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Search</li></a>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container"> </div>
        <div class="comments"></div>

       <!--  <footer>
            <div class="footer-container">
                <span>&copy 2013 goLocal</span>
                <span>Created by Alison Miller</span>
            </div>
        </footer> -->
       
       <!--  <footer></footer> -->



        <!-- template for Full View -->
        <script type="text/template" id="grid-template">
                <ul>
                    <li><%= place.get('placeType')%></li>
                    <li><a id="activate"><%=place.get('placeName')%></a><li>     
                </ul>
        </script> 

        <!-- template for Individual View -->
        <script type="text/template" id="single-template">
                <a href='#'> <span>Edit place</span></a> 

                <h1><%= place.get('placeName')%></h1>

                <div class="icon">
                    <img src="images/produce.png">
                </div>
                <div class='text'>
                    <p><b><%= place.get('placeType')%></b></p>
                    <p>123 Main St., Greenville, S.C.</p>
                </div>

                <input id="new-comment" placeholder="Been here too? Add a comment...">
                <button id="test"> Submit </button>
                <h2>Comments</h2>
                <span> <%= moment(place.createdAt, "ddd MMM DD YYYY HH:mm:ss").fromNow() %></span>
                <p><%= place.get('comments')%></p>

        </script> 


        <!-- template for Add Place View -->
        <script type="text/template" id="add-template">
            <h1>Share your local find</h1>
            <ul>
                <li>What did you find?</li>
                    <select id="type"> 
                        <option>Produce stand </option>
                        <option>Farmers market </option>
                        <option>Farm </option>
                        <option>Grocery store/co-op </option>
                    </select> 
                <li>Name</li>
                <input id="name" placeholder="Name of place">
                <li>Upload a photo</li>
                <input type="file" id="photo-upload" placeholder="Upload a photo">
                <li> Get my location</li>
                <input type="checkbox" id="location">

                <li>Add Comments</li><textarea id="comments" placeholder="What are some pros and cons?"> </textarea>
            </ul>

            <button id="save"> Save </button>
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/moment/moment.js"></script>

        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/views.js"></script>
        <script src="scripts/models.js"></script>
        <script src="scripts/router.js"></script>
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/coffee.js -->
        <!-- endbuild -->
</body>
</html>
